<div class="background">
  <app-header [navLinks]="navLinks" [eventId]="object.event_id"></app-header>
  <mat-progress-bar *ngIf="loading && id_url>0" mode="indeterminate"></mat-progress-bar>
  <div class="container">
    <app-title [hidden]="submitted" [title]="title" src="assets/images/mobile.png"></app-title>
    <app-form *ngIf="!loading"
    (onOpenDialogPassword)= "onOpenDialogPassword($event)"
    (onOpenDialog)= "onOpenDialog($event)"
    (onSubmitChild)= "onSubmitChild($event)"
    [idUrl]="id_url"
    [object]="object"
    objectElement="terminal"
    [submitted]="submitted"
    (onEdit)="onEdit($event)"
    [regAlreadyExist]="regAlreadyExist"></app-form>
  </div>
</div>