<div class="pwd_dialog_container fonts">
  <mat-dialog-title class="display-block center">
    <mat-icon class="display-inline-block">lock</mat-icon>
    <p class="display-inline-block center-vertical">{{title}}</p>
  </mat-dialog-title>
  <mat-dialog-content class="pwd_form">
    <form (ngSubmit)="onSubmit()" #changePassForm="ngForm">
      
      <label for="new_password_i">Nueva contraseña:</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="new_password" [type]="hide ? 'password' : 'text'"
        name="new_password_i" class="form-control pass" id="new_password_i" required 
        #new_password_i="ngModel" minlength="6">
        <span *ngIf="hide==true" class="input-group-addon"><i (click)="change()" class="fa fa-eye fa-fw"></i></span>
        <span *ngIf="hide==false" class="input-group-addon"><i (click)="change()" class="fa fa-eye-slash fa-fw"></i></span>
      </div>
      <div [hidden]="isValid()" class="alert alert-danger">
          La contraseña debe tener más de 6 caracteres
      </div>

      <label for="new_password_conf_i"><br [hidden]="!isValid()">Vuelva a introducir la nueva contraseña:</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="new_password_conf" [type]="hideConf ? 'password' : 'text'"
        name="new_password_conf_i" class="form-control pass" id="new_password_conf_i" required 
        #new_password_conf_i="ngModel" minlength="6">
        <span *ngIf="hideConf==true" class="input-group-addon"><i (click)="changeConf()" class="fa fa-eye fa-fw"></i></span>
        <span *ngIf="hideConf==false" class="input-group-addon"><i (click)="changeConf()" class="fa fa-eye-slash fa-fw"></i></span>
      </div>
      <div [hidden]="isValidConf()" class="alert alert-danger">
        Las contraseñas no coinciden 
      </div>
      <br>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="button-actions display-block center">
    <button class="btn btn-success dialog-buttons display-inline-block" [disabled]="!changePassForm.form.valid" mat-button [mat-dialog-close]="{'new_password': new_password }">Aceptar</button>
    <button class="btn dialog-buttons display-inline-block" mat-button mat-dialog-close>Cancelar</button> 
  </mat-dialog-actions>
</div>