<!--The content below is only a placeholder and can be replaced.-->
<div class="background size-screen fonts">
    <app-header [navLinks]="navLinks" [isDashboard]="true"></app-header>
    <mat-card class="center card fonts">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Usuario 123456</mat-card-title>
            <mat-card-subtitle>Administrador</mat-card-subtitle>
            <span class="fill-remaining-space"></span>
            <mat-menu #appMenu="matMenu"> 
                <button mat-menu-item (click)="logout();">
                    <mat-icon class="icon-menu">account_circle</mat-icon>
                    <span class="font-menu">Cambiar de usuario</span>
                </button>
            </mat-menu>
            <mat-icon-button>
                <mat-icon [matMenuTriggerFor]="appMenu">more_vert</mat-icon>
            </mat-icon-button>

        </mat-card-header>
        <img mat-card-image src="assets/images/users.jpg">
    </mat-card>
</div>

