<div class="dialog-container">
  <p mat-dialog-title><img class="img" src="assets/images/question_32.png">  ¿Cómo obtener el número de serie de un smartphone?</p>
  <mat-dialog-content>
    Diríjase a <strong>Ajustes</strong> > <strong>Acerca del teléfono</strong> > <strong>Estado</strong> > <strong>Número de serie</strong>
  </mat-dialog-content>
  <mat-dialog-actions class="button-actions display-block center">
    <button class="btn dialog-buttons" mat-button [mat-dialog-close]="true">Aceptar</button>
  </mat-dialog-actions>
</div>

